<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">
    <meta charset="UTF-8">
    <title>Game Finished</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<div class="main_section center">
    <div class="title_holder">
        <h1>Guess the Number Game</h1>
    </div>
    <div class="div_game_action_holder">
        <div class="div_main_msg_holder">
            <h2>GAME OVER</h2>
        </div>
        <div class="div_result_msg_holder">
            <h3 th:text="${resultMessage}">Result Message Content</h3>
        </div>
        <div class="div-restart_btn_holder">
            <h3><a class="restart_btn" th:href="restart">Play Again</a></h3>
        </div>
        <div class="div-home_btn_holder">
            <h3><a class="home_btn" th:href="@{/}" >Home</a></h3>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footerFragment}">
    <footer>
        <div class="div_footer">
            <p>Created by Marinel!</p>
        </div>
    </footer>
</div>
</body>
</html>
